@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PersonalBanking.Domain.Model
@model PersonalBanking.PresentationMVC.Models.UserViewModel

@using (Html.BeginForm("Register", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
   
    <div class="panel panel-primary">
        <div class="panel-heading">Personal Bank Registration
        </div>
        <hr/>
        <div class="form-group">
            @Html.ValidationSummary("", new {@class = "text-danger"})
            @Html.LabelFor(m => m.Username, new {@class = "col-md-2 control-label"})
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Username, new {@class = "form-control", placeholder = "Used for logging in"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new {@class = "form-control", placeholder = "example@gmail.com"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new {@class = "col-md-2 control-label"})
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new {@class = "form-control", placeholder = "Your password"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new {@class = "col-md-2 control-label"})
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control", placeholder = "Repeat password"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Person.FirstName, new {@class = "col-md-2 control-label"})
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Person.FirstName, new {@class = "form-control", placeholder = "First name"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Person.LastName, new {@class = "col-md-2 control-label"})
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Person.LastName, new {@class = "form-control", placeholder = "Last name"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Person.BirthDate, new {@class = "col-md-2 control-label"})
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Person.BirthDate, new {@class = "form-control", type = "date", min = "1930-01-01", max = "1995-12-12"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Person.Gender, new {@class = "col-md-2 control-label"})
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Person.Gender, EnumHelper.GetSelectList(typeof(GenderType)), new {@class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Person.FiscalCode, new {@class = "col-md-2 control-label"})
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Person.FiscalCode, new {@class = "form-control", placeholder = "FiscalCode"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register"/>
            </div>
        </div>
    </div>
        }
